.experience {
  background-color: rgb(16, 16, 22);
  padding-bottom: 50px;
  padding-top: 30px;
}
.ex-card {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.experience h2 {
  color: white;
}
.ex-head {
  width: 10%;
  display: inline-block;
  border-top: 3px solid #ff8906;
  padding-bottom: 30px;
}
.ex-card i {
  font-size: 50px;
  padding-bottom: 15px;
  color: #ff8906;
  transition: all ease 0.3s;
}
.ex-card i:hover {
  color: white;
}
.ex-head-color {
  display: inline-block;
  padding-right: 10px;
  color: #ff8906;
}
